<%= render 'layouts/top_one' %>
<%= render 'layouts/top_two' %>
<%= render 'layouts/top_three' %>
<%= render 'layouts/top_four' %>
<%= render 'layouts/top_five' %>
<%= render 'layouts/top_six' %>

<div style="margin: 40px; text-align: right;">
  <%= link_to '予約可能なサロン/スタイリスト一覧を見る', reservations_path %>
</div>