<div style="width: 15%; height:500px; border: 1px solid;float: left;">
  <%= render 'admin/salons/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>取引履歴</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>所属サロン</th>
        <th>スタイリスト名</th>
        <th>施術内容</th>
        <th>詳細</th>
      </tr>
      </thead>

      <tbody>
      <% @stylists.each.with_index(1) do |s, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= s.salon_reservation.salon.name %></td>
          <td><%= s.stylist_reservation.stylist.name %></td>
          <td><%= s.menu.menu_name %></td>
          <td>#</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</main>