<div class="row">
  <%= render 'admin/salons/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2><%= current_salon.name %>の予約一覧</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>顧客名</th>
        <th>予約日時</th>
        <th>スタイリスト名</th>
        <th>メニュー名</th>
        <th>施術時間</th>
        <th>詳細</th>
        <th>削除</th>
      </tr>
      </thead>

      <tbody>
      <% @reservations.each.with_index(1) do |r, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= r.user.name %></td>
          <td><%= r.stylist_reservation.simple_time %></td>
          <td><%= r.stylist_reservation.stylist.name %></td>
          <td><%= r.menu.menu_name %></td>
          <td><%= r.stylist_reservation.operation_time %>分</td>
          <td><%= link_to '詳細', admin_salon_reservation_path(r) %></td>
          <td><%= link_to '削除', admin_salon_reservation_path(r), method: :delete, data: { confirm: "削除しますか？" } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</main>
