<div class="row">
  <%= render 'admin/stylists/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2><%= current_stylist.name %>の予約一覧</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>顧客名</th>
        <th>予約日時</th>
        <th>サロン名</th>
        <th>サロン場所</th>
        <th>メニュー名</th>
        <th>詳細</th>
        <th>削除</th>
      </tr>
      </thead>

      <tbody>
      <% @reservations.each do |r| %>
        <tr>
          <td><%= r.user.name %></td>
          <td><%= r.stylist_reservation.simple_time %></td>
          <td><%= r.salon_reservation.salon.name %></td>
          <td><%= r.salon_reservation.salon.place %></td>
          <td><%= r.menu.menu_name %></td>
          <td><%= link_to '詳細', reservation_admin_stylist_path(r) %></td>
          <td><%= link_to '削除', reservation_admin_stylist_path(r), method: :delete, data: { confirm: "削除しますか？" } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</main>