<div style="width: 15%; height:500px; border: 1px solid;float: left;">
  <%= render 'admin/salons/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>取引内容</h2>
  <div class="my-3 p-3 bg-white rounded shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">
      顧客名:<%= @reservation.user.name %><br/>
      スタイリスト:<%= @reservation.stylist_reservation.stylist.name %></h6>
    <div class="media text-muted pt-3">
      <ul>
        <li>予約日時:<%= @reservation.stylist_reservation.simple_time %></li>
        <li>メニュー名:<%= @reservation.menu.menu_name %></li>
        <li>価格:<%= @reservation.menu.menu_price %>円</li>
        <li>取引状態:
          <% if @reservation.finish_salon? %>
            <a style="color: red;">取引完了済</a>
          <% else %>
            <%= form_for(@reservation, url: admin_salon_reservation_path) do |f| %>
              <%= f.hidden_field :finish_salon, value: true %>
              <%= f.submit ' 取引完了' %>
            <% end %>
          <% end %></li>
        <li>取引メモ:
          <% if @reservation.salon_memo.nil? %>
            <%= form_for(@reservation, url: admin_salon_reservation_path) do |f| %>
              <%= f.text_field :salon_memo %>
              <%= f.submit 'メモ登録' %>
            <% end %>
          <% else %>
            <%= @reservation.salon_memo %>
          <% end %>
        </li>
      </ul>
    </div>
    <%= link_to 'delete', admin_salon_reservation_path, method: :delete, data: { confirm: "本当に削除しますか？" } %><br/>
    <%= link_to '戻る', :back %>
  </div>
</main>