<%= form_for(@reservation, url: admin_salon_salon_reservations_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :book_time %>
    <%= f.datetime_select :book_time, minute_step: 15 %>
  </div>
  <%= f.submit '登録' %>
<% end %>