<div class="row">
  <%= render 'admin/salons/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>予約可能時間を登録する</h2>
  <%= render 'admin/salon_reservations/book_new' %>


  <h2>予約可能時間一覧</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>予約可能日時</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
      </thead>

      <tbody>
      <% @books.each.with_index(1) do |book, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= book.simple_time %></td>
          <td><%= link_to '編集', edit_admin_salon_salon_reservation_path(book) %></td>
          <td><%= link_to '削除', admin_salon_salon_reservation_path(book), method: :delete, data: { confirm: "削除しますか？" } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</main>