<div style="width: 15%; height:500px; border: 1px solid;float: left;">
  <%= render 'admin/salons/sidebar' %>
</div>

<div style="width:80%; border: 1px solid;float: right; margin: auto 0;padding-left: 20px;">
  <h2><%= current_salon.name %>の予約可能時間一覧</h2>

  <h3>予約可能時間を登録する</h3>
  <%= render 'admin/salon_reservations/book_new' %>


  <h3>予約可能時間一覧</h3>
  <% @books.each.with_index(1) do |book, i| %>
    <%= i %>.<%= link_to book.book_time.strftime('%Y年%m月%d日 %H:%M'), admin_salon_salon_reservation_path(id: book.id) %>
    <%= link_to '編集',  edit_admin_salon_salon_reservation_path(book) %>
    <%= link_to '削除',  admin_salon_salon_reservation_path(book), method: :delete %>
    <br/>
  <% end %>
</div>