<%= form_for(@salon_reservation) do |f| %>
  <div class="field">
    <div>
      <%= f.label :prefecture_id %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
    </div>

    <%= f.label :book_time %>
    <%= f.datetime_select :book_time, minute_step: 15 %>
  </div>
  <%= f.submit '登録' %>
<% end %>