<h1><%= @book.salon.name %>の予約<%= @book.id %></h1>

<%= @book.simple_time %><br/>
<%= @book.book_time %>
<br/>

<%= link_to '編集',  edit_admin_salon_salon_reservation_path %><br/>
<%= link_to '削除', salon_salon_reservation_path, method: :delete %>
<%= link_to "予約可能時間一覧へ", admin_salon_salon_reservations_path %>