<div style="width: 15%; height:500px; border: 1px solid;float: left;">
  <%= render 'admin/stylists/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h3>予約可能時間一覧</h3>

  <%= form_for(@reservation, url: admin_stylist_stylist_reservations_path) do |f| %>
    <div>
      <%= f.label :時間 %><br/>
      <%= f.datetime_select :book_time, minute_step: 5 %>
    </div>

    <div>
      <%= f.label :施術時間 %><br/>
      <%= f.number_field :operation_time, min: 0, step: 5 %>
    </div>

    <div>
      <%= f.label :備考 %><br/>
      <%= f.text_field :memo %>
    </div>

    <div>
      <%= f.submit '登録' %>
    </div>
  <% end %>
  <br/>
  <% @books.each.with_index(1) do |book, i| %>
    <%= i %>.<%= link_to book.book_time.strftime('%Y年%m月%d日 %H:%M'), admin_stylist_stylist_reservation_path(id: book.id) %><br/>
  <% end %>
</main>