<%= form_for(@reservation) do |f| %>
  <div>
    <%= f.label :サロン予約 %><br/>
    <%= f.collection_select :salon_reservation_id, SalonReservation.all, :id, :simple_time %>
  </div>

  <div>
    <%= f.label :スタイリスト予約 %><br/>
    <%= f.collection_select :stylist_reservation_id, StylistReservation.all, :id, :simple_time %>
  </div>

  <div>
    <%= f.submit '予約する' %>
  </div>
<% end %>