<h1><%= @salon.name %></h1>
カテゴリー:<%= @salon.category.name %><br/>
サロン名:<%= @salon.name %><br/>
都道府県:<%= @salon.prefecture.name %><br/>
場所:<%= @salon.place %><br/>
責任者:<%= @salon.manage %><br/>
TEL:<%= @salon.tel %><br/>
Email:<%= @salon.email %><br/>
特徴:<%= @salon.features %><br/>
カット価格:<%= @salon.cut_price %>円<br/>
所属スタイリスト数:<%= link_to @salon.stylists.count, salon_member_path(@salon) %><br/>
座席数:<%= @salon.num_of_sheets %>
<br/>

<h2>予約可能時間一覧</h2>
<% @reservations.each.with_index(1) do |r, i| %>
  <%= i %>: <%= r.simple_time %>
  <%= link_to '予約する', salon_salon_reservation_path(salon_id: r.salon_id, id: r) %>
  <br/>
<% end %>

<%= link_to '戻る', :back %>