<div style="width: 15%; height:500px; border: 1px solid;float: left;">
  <%= render 'admin/stylists/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h6 class="border-bottom border-gray pb-2 mb-0">
    顧客名:<%= @sale.user.name %><br/>
    スタイリスト:<%= @sale.stylist_reservation.stylist.name %></h6>
  <div class="media text-muted pt-3">
    <ul>
      <li>予約日時:<%= @sale.stylist_reservation.simple_time %></li>
      <li>メニュー名:<%= @sale.menu.menu_name %></li>
      <li>価格:<%= @sale.menu.menu_price %>円</li>
      <li>取引状態:
        <% if @sale.finish_stylist? %>
          <a style="color: red;">取引完了済</a>
        <% else %>
          <%= form_for(@sale, url: admin_stylist_stylist_sales_memo_path) do |f| %>
            <%= f.hidden_field :finish_stylist, value: true %>
            <%= f.submit ' 取引完了' %>
          <% end %>
        <% end %></li>
      <li>取引メモ:
        <% if @sale.stylist_memo.nil? %>
          <%= form_for(@sale, url: admin_stylist_stylist_sales_memo_path) do |f| %>
            <%= f.text_field :stylist_memo %>
            <%= f.submit 'メモ登録' %>
          <% end %>
        <% else %>
          <%= @sale.stylist_sales_memo.memo %>
        <% end %>
      </li>
    </ul>
  </div>
  <%= link_to 'delete', sales_admin_stylist_path, method: :delete, data: { confirm: "本当に削除しますか？" } %><br/>
  <%= link_to '戻る', :back %>
</main>