<h1>SalonReservations#show</h1>
<%= @salon_reservation.simple_time %>

<%= form_for(@reservation) do |f| %>
  <%= f.hidden_field :salon_reservation_id, value: @salon_reservation.id %>
  <div class="field">
    <%= f.label :スタイリスト予約 %><br/>
    <%= f.collection_select :stylist_reservation_id, StylistReservation.where(book_time: @salon_reservation.book_time).all, :id, :book_stylist, prompt: "選択してください" %>
  </div>

  <div>
    <%= f.label :メニュー %><br/>
    <%= f.collection_select :menu_id, Menu.all, :id, :menu_manage, prompt: "選択してください" %>
  </div>
  <p style="font-size: 10px">*スタイリストに合わせたメニューだけ表示させるように改良予定</p>

  <div class="field">
    <%= f.submit '予約' %>
  </div>
<% end %>