<h1>Stylists#show</h1>
名前:<%= @stylist.name %><br/>
所属:<%= link_to @stylist.salon.name, salon_path(@stylist.salon_id) %><br/>
Email:<%= @stylist.email %><br/>
強み:<%= @stylist.features %><br/>
スタイリスト歴:<%= @stylist.stylist_since %><br/>
カット価格:<%= @stylist.cut_price %>