<div style="width: 15%; height:500px; border: 1px solid;float: left;">
  <%= render 'admin/stylists/sidebar' %>
</div>

<div style="width:80%; border: 1px solid;float: right; margin: auto 0;padding-left: 20px;">
  <h2><%= current_stylist.name %></h2>
  名前:<%= current_stylist.name %><br/>
  所属:<%= link_to current_stylist.salon.name, salon_path(@stylist.salon_id) %><br/>
  Email:<%= current_stylist.email %><br/>
  強み:<%= current_stylist.features %><br/>
  スタイリスト歴:<%= Date.today.year - current_stylist.stylist_since %>年<br/>
  カット価格:<%= current_stylist.cut_price %>円
  <br/>
  <%= link_to 'Edit', edit_admin_stylist_path %>
  <%= link_to 'Delete', admin_stylist_path, method: :delete, data: { confirm: "You sure?" } %>
  <%= link_to 'Logout', destroy_stylist_session_path, method: :delete %>
  <h3>予約一覧</h3>
  <% @stylist_reservations.each.with_index(1) do |r, i| %>
    <%= i %>: <%= link_to r.book_time, admin_stylist_stylist_reservation_path(id: r) %><br/>
  <% end %>
</div>