<div class="row">
  <%= render 'admin/stylists/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2><%= current_stylist.name %></h2>

  <h3>メニュー一覧</h3>
  <div style="width: 40%; margin: 5%; border: 1px solid; border-radius: 10px; padding: 10px">
    メニュー名:<%= @menu.menu_name %><br/>
    価格:<%= @menu.menu_price %>円<br/>
    施術時間:<%= @menu.operation_time %>分<br/>
    内容:<%= @menu.content %><br/>
    備考:<%= @menu.memo %><br/>
    <%= link_to 'Edit', edit_admin_stylist_menu_path %>
    <%= link_to 'Delete', admin_stylist_menu_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</main>