<!DOCTYPE html>
<html>
<head>
  <title>BeautyMatch</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav>
    <%= link_to 'Users', new_user_session_path %>
    <%= link_to 'Salon', new_salon_session_path %>
    <%= link_to 'Stylist', new_stylist_session_path %>
  </nav>
</header>
<%= render 'shared/flash' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
