<!DOCTYPE html>
<html>
  <head>
    <title>BeautyMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <% if salon_signed_in? %>
        <strong><%= link_to current_salon.name, salon_path(current_salon.id) %></strong>
        <%= link_to 'サロン情報変更', edit_salon_registration_path %>
        <%= link_to 'ログアウト', destroy_salon_session_path, method: :delete %>
      <% else %>
        <%= link_to 'サインアップ', new_salon_registration_path %>
        <%= link_to 'ログイン', new_salon_session_path %>
      <% end %>
    </nav>
  </header>
  <%= render 'shared/flash' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
